<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create New Test</title>
</head>
<body>
    <div align="center">
        <h1>Create New Test</h1>
    <br />
        <form action="#" th:action="@{/savetest}" th:object="${test}" method="post">

            <table border="0" cellpadding="10">
                <tr>
                    <td>Test id:</td>
                    <td><input type="text" th:field="*{id}" required/></td>
                </tr>
                <tr>
                    <td>Test Name:</td>
                    <td><input type="text" th:field="*{name}" required/></td>
                </tr>
                <tr>
                    <td colspan="2"><button type="save">Save</button> </td>
                </tr>
            </table>
        </form>

</body>
</html>