<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question Manager</title>
    <link th:href="@{/css/style3.css}" rel="stylesheet"/>
</head>
<body>
<div align="center">

    <h1>Question List</h1>

    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>Question ID</th>
            <th>Question Name</th>
            <th>Test Id</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="question : ${questionList}">
            <td th:text="${question.id}">Question ID</td>
            <td th:text="${question.name}">Question Name</td>
            <td th:text="${question.test}">Test Id</td>
            <td>    <!-- actions -->
                <a th:href="@{'/editquestion/' + ${question.id}}">Edit</a>
                <a th:href="@{'/deletequestion/' + ${question.id}}">Delete</a>
                <a th:text="${(question.test == null) ? 'Assign Test' : ''}"
                   th:href="@{'/test/assign/' + ${question.id}}"></a>
                <a th:text="${(question.test != null) ? 'Remove Test' : ''}"
                   th:href="${(question.test != null) ? '/remove/' + question.getId() : ''}"></a>
            </td>
        </tr>
        </tbody>
    </table>
    </br>
    <a th:href="@{/new-question}">Create new question</a>
    </br>
    </br>
    <a th:href="@{/test-list}">Go to test-list</a>
    </br>
    </br>
    <a th:href="@{/answer-list}">Go to answer-list</a>
    </br>
    </br>
        <a th:href="@{/}">Return to homepage</a>
    </br>

</div>

</body>
</html>