<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test Manager</title>
    <link th:href="@{/css/style2.css}" rel="stylesheet"/>
</head>
<body>
    <div align="center">

        <h1>Test List</h1>

        <br/><br/>
        <table border="1" cellpadding="10">
            <thead>
            <tr>
                <th>Test ID</th>
                <th>Test Name</th>
<!--                <th>Question Id</th>-->
                <th>Question List</th>
                <th>Test Link</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="test : ${testList}">
                <td th:text="${test.id}">Test ID</td>
                <td th:text="${test.name}">Test Name</td>
                <td>Question List:
                    <select class="form-select" name="questionId">
<!--                        <option th:if="${questionList.isEmpty()}">None Available</option>-->
                        <option th:each="question : ${test.questions}" th:value="${question.id}" th:text="${question.toString()}"></option>
                    </select>
                </td>
<!--            </tr>-->

<!--                <td th:text="${test.question != null} ? ${test.question.id}"></td>-->
                <td>
                    <a th:href="@{'/test/nik/tests/' + ${test.id}}">Link</a>
                </td>
                <td>    <!-- actions -->
                    <a th:href="@{'/test/edit/' + ${test.id}}">Edit</a>
                    <a th:href="@{'/test/delete/' + ${test.id}}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
            </br>
                <a th:href="@{/test/new}">Create new test</a>
            </br>
            </br>
                <a th:href="@{/question/list}">Go to question-list</a>
            </br>
            </br>
                <a th:href="@{/answer/list}">Go to answer-list</a>
            </br>
            </br>
                <a th:href="@{/}">Return to homepage</a>
            </br>
    </div>

</body>
</html>