<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Question Manager</title>
<!--    <link rel="stylesheet" type="text/css href="css/style.css">-->
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
        </head>
<body>
<div align="center">
    <h1>
        <span> Test <th:block th:text="${testObject.name}">[name]</th:block> </span>
    </h1>

    <br/><br/>


    <a th:href="@{/nik/tests}">Return to Homepage</a><br/>

    <br>

    <form action="#" th:action="@{/submitAnswer}" th:object="${answer}" method="post">

    </br>

    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>Question Id</th>
            <th>Question</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="question : ${testObject.questions}">
            <table border="1" cellpadding="10">
            <td th:text="${question.id}"></td>
            <td th:text="${question.name}"></td>
                </table>
        </tr>
        </tbody>
            </table>

            <table border="1" cellpadding="10">
                <thead>
                <tr>
                    <th>Answer Id</th>
<!--                    <th>Answer Name</th>-->
                    <th>Answer</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="answer : ${question.answers}">
                    <table border="1" cellpadding="10">
                    <td th:text="${answer.id}"></td>
<!--                    <td th:text="${answer.name}"></td>-->
                    <td>
                        <input type="radio"
                               th:id="${answer.id}"
                               th:name="${question.id}"
                               th:text="${answer.name}"
                               th:value="${answer.id}"
                               value="HTML">
                        <label th:text="'(' + ${answer.id} + ') ' + ${answer.name}"/>
                    </td>
                    </table>
<!--                           th:text="${answer.name}"><br>-->
                </tr>

                </tbody>
            </table>

            <div  th:each="answer : ${question.answers}" >
                <input type="radio">

            </div>
            <br>

        </tr>
        </tbody>

    <tr>
        <td colspan="2"><button type="submit">Submit</button> </td>
    </tr>
</div>
</body>
</html>